/* CSS RESET - meyerweb.com */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}


body { 
    font-family: Roboto, Sans-serif; 
    background-color: #fff; /*#f5e34752;*/
    color: #7d6969; /*#716c6c; #7d6969*/
    
    
    display: flex;
    flex-direction: column;
}

p {
    color: black;
}

li {
    color: #5e2121;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
}


.header, .welcome-section, .action-section {
    padding: 16px 100px 60px;
}

.header {
    background-color: #1F2937;
    
    display: flex;
    justify-content: space-between;
}

.header__navbar {
    display: flex;
    gap: 24px;
}

.header__navbar a {
    color: #E5E7EB;
}

.header__navbar a:hover {
    color: #3882F6; /*#49a6e9;*/
}

.welcome-section {
    background-color: #1F2937;
    
    display: flex;
    gap: 40px;
}

.welcome-section__title {
    color: white;
    font-size: 2.5rem;
    font-weight: 900;
}

.welcome-section__desc {
    color: #eae3af87; /*#f5e34752;*/
    padding: 10px 0;
    flex: 1;
}

.welcome-section-button {
    color: white;
    background-color: #3882F6; /*#49a6e9;*/
    border: none;
    border-radius: 5px;
    padding: 5px 15px;
}

.welcome-section-button:hover {
    color: black;
}

.welcome-section__image {
    width: 400px;
    height: 200px;
    flex: 0;
}

.information-section {
    padding: 25px 100px 60px;
}

.information-section-title {
    color: black;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
}

.information-section__items-container {
    margin: 60px 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.information-section__item {
    width: 200px;
    height: 500px;
}

.information-section__item img {
    width: 200px;
    height: 200px;
    border: 2px solid #49a6e9;
    border-radius: 10px;
}

.information-section__text {
    text-align: center;
}

.testimonial-section {
    color: black;
    background-color: #f0eeee; /*#f0b9b9; #f5e34752; #E5E7EB;*/
    padding: 100px 250px;
}

.testimonial-section__text {
    color: #7d6969;
    font-weight: 800;
    line-height: 35px;
    text-align: center;
}

.testimonial-section__author {
    float: right;
}

.testimonial-section__author a {
    color: black;
    font-weight: 500;
}

.action-section {
    padding: 60px 140px 60px;
}

.action-section__call-to-action {
    background-color: #3882F6; /*#49a6e9;*/
    border-radius: 6px;
    padding: 20px 40px;
    display: flex;
    justify-content: space-around;
}

.action-section__title, .action-section__text {
    color: white;
}

.action-section__title {
    font-size: 1.4rem;
    font-weight: 900;
    margin-bottom: 5px;
}

.action-section__button { 
    color: white;
    background-color: #3882F6; /*#49a6e9;*/
    border: 1px solid white;
    border-radius: 5px;
    padding: 8px 25px;
    align-self: end;
}


.footer-section {
    color: white;
    background-color: #1F2937;
    padding: 20px;
    
    display: flex;
    justify-content: center;
    align-content: center;
}



